/subprojects/android_frameworks/
gusb
gi-docgen
flashrom
libjcat
libxmlb
fwupd-efi
passim
android_frameworks/
curl-8.10.1/
glib-2.84.2/
gvdb.wrap
json-glib/
libffi/
libusb-1.0.27/
openssl-3.0.8/
packagecache/
pcre2-10.44/
pcre2.wrap
proxy-libintl.wrap
proxy-libintl/
sqlite-amalgamation-3490100/
sysprof.wrap
sysprof/
xz-5.2.12/
.wraplock
