# -*- yaml -*-

Checks:
  - -*

  - bugprone-*
  - -bugprone-assignment-in-if-condition
  - -bugprone-branch-clone # TODO: enable and autofix
  - -bugprone-casting-through-void
  - -bugprone-easily-swappable-parameters
  - -bugprone-implicit-widening-of-multiplication-result
  - -bugprone-macro-parentheses
  - -bugprone-misplaced-widening-cast
  - -bugprone-multi-level-implicit-pointer-conversion # TODO: enable and autofix
  - -bugprone-multi-level-pointer-conversion # TODO: enable and autofix
  - -bugprone-narrowing-conversions
  - -bugprone-reserved-identifier
  - -bugprone-sizeof-expression
  - -bugprone-too-small-loop-variable
  - -bugprone-unchecked-optional-access
  - -bugprone-unchecked-string-to-number-conversion

  # - clang-analyzer-*

  # - clang-diagnostics-*

  - misc-*
  - -misc-confusable-identifiers
  - -misc-const-correctness
  - -misc-header-include-cycle
  - -misc-include-cleaner
  - -misc-misplaced-const # TODO: enable and autofix
  - -misc-no-recursion
  - -misc-non-private-member-variables-in-classes
  - -misc-static-assert
  - -misc-unused-parameters

  - modernize-*
  - -modernize-macro-to-enum
  - -modernize-use-trailing-return-type
  - -modernize-use-transparent-functors

  - performance-*
  - -performance-inefficient-vector-operation
  - -performance-no-int-to-ptr

  - readability-*
  - -readability-avoid-const-params-in-decls
  - -readability-avoid-unconditional-preprocessor-if
  - -readability-braces-around-statements
  - -readability-else-after-return # TODO: enable and autofix
  - -readability-enum-initial-value
  - -readability-function-cognitive-complexity
  - -readability-function-size # TODO: enable and fix or suppress with NOLINT
  - -readability-identifier-length
  - -readability-identifier-naming
  - -readability-implicit-bool-conversion
  - -readability-inconsistent-declaration-parameter-name # TODO: enable and autofix
  - -readability-isolate-declaration
  - -readability-magic-numbers
  - -readability-math-missing-parentheses
  - -readability-non-const-parameter
  - -readability-qualified-auto
  - -readability-redundant-casting # TODO: enable and autofix
  - -readability-redundant-declaration
  - -readability-suspicious-call-argument
  - -readability-uppercase-literal-suffix
  - -readability-use-concise-preprocessor-directives

WarningsAsErrors: "*"
