/build
/dist
/.vscode
/build-dir
/.flatpak-builder
/repo
*.flatpak
*.snap
/fwupd_source.tar.bz2
/parts
/prime
/stage
/snap/.snapcraft
/libxmlb
/*.deb
/*.ddeb
/*.changes
/*.buildinfo
/fwupd*.build
/*.dsc
/*.xz
/*.gz
__pycache__
