/build
/build-win32
/dist
/.vscode
.vscode-ctags
/build-dir
/.flatpak-builder
/repo
*.flatpak
*.snap
/fwupd_source.tar.bz2
/parts
/prime
/stage
/snap/.snapcraft
/libxmlb
/*.deb
/*.ddeb
/*.changes
/*.buildinfo
/fwupd*.build
/*.dsc
/*.xz
/*.gz
/venv
__pycache__
plugins/acpi-dmar/tests/
plugins/acpi-facp/tests/
plugins/ata/tests/
plugins/dfu/tests/
plugins/nvme/tests/
plugins/synaptics-mst/tests/
plugins/synaptics-prometheus/tests/
plugins/tpm-eventlog/tests/
plugins/uefi-dbx/tests/
.buildconfig
.ossfuzz
*.rej
*.cab
*.tar
.ctags
