version: 2
jobs:
  check-abi:
    machine:
      image: circleci/classic:latest
    steps:
      - checkout
      - run:
          name: "Build container"
          command: OS=debian-x86_64 ./contrib/ci/generate_docker.py
      - run:
          name: "Run build script"
          command: docker run -t -v `pwd`:/build fwupd-debian-x86_64 ./contrib/ci/check-abi $(git describe --abbrev=0 --tags) $(git rev-parse HEAD)

  build-s390x:
    machine:
      image: circleci/classic:latest
    steps:
      - checkout
      - run:
          name: "Build container"
          command: OS=debian-s390x ./contrib/ci/generate_docker.py
      - run:
          name: "Run build script"
          command: docker run --privileged -e CI=true -t -v `pwd`/dist:/build/dist fwupd-debian-s390x

  build-snap:
    docker:
      - image: superm1/snapcraft-edge:latest
    steps:
      - checkout
      - run:
          name: "Update apt"
          command: apt update
      - run:
          name: "Build Snap"
          command: snapcraft
      - persist_to_workspace:
          root: .
          paths:
            - "*.snap"

  publish-edge:
    docker:
      - image: cibuilds/snapcraft:stable
    steps:
      - attach_workspace:
          at: .
      - run:
          name: "Publish to Store"
          command: |
            mkdir .snapcraft
            echo $SNAPCRAFT_LOGIN_FILE | base64 --decode --ignore-garbage > .snapcraft/snapcraft.cfg
            snapcraft push *.snap --release edge

  publish-stable:
    docker:
      - image: cibuilds/snapcraft:stable
    steps:
      - attach_workspace:
          at: .
      - run:
          name: "Publish to Store"
          command: |
            mkdir .snapcraft
            echo $SNAPCRAFT_LOGIN_FILE | base64 --decode --ignore-garbage > .snapcraft/snapcraft.cfg
            snapcraft push *.snap --release stable

workflows:
  version: 2
  main:
    jobs:
      - build-s390x
      - build-snap
      - check-abi
      - publish-edge:
          requires:
            - build-snap
          filters:
            branches:
              only: master
  deploy:
    jobs:
      - build-snap:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/
      - publish-stable:
          requires:
            - build-snap
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/
