body {
	background: #fefeff;
	color: #000000;
	font-family: "Open Sans", Sans-Serif;
	font-weight: 400;
	max-width: 50em;
	margin: 1em auto;
	padding: 0 2em;
	}

h1, h2, h3 {
	color: #000000;
	font-family: "Open Sans", Sans-Serif;
	font-weight: 300;
	}

h1.banner {
  display: block;
  width: 290px;
  padding: 230px 0 0 240px;
  margin: 0 auto;
  height: 150px;
  background: url('banner.svg') no-repeat 0 0;
}

table.noteinformation {
	background: #f5f5ff;
	border: 1px outset #000000;
	margin-left: 5px;
	margin-right: 5px;
	padding: 3px;
	width: 80%;
	}

table.upload {
  width: 60%;
  margin: 2em auto;
}

table.history {
  width: 100%;
}
  .history th {
    font-weight: 300;
    font-size: 120%;
    white-space: nowrap;
    padding-right: 1em;
  }
  .history td {
    padding: .5em .5em .5em 0;
    font-size: 70%;
    white-space: nowrap;
  }

p.title {
	color: #000000;
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
	}

p.footer {
	color: #000000;
	text-align: center;
	margin-top: 3em;
	}

p.caption {
	color: #000000;
	text-align: center;
	font-style: italic;
	}

th {
	color: #000000;
	text-align: left;
	}

a.indextitle {
	color: #000147;
	font-weight: bolder;
	font-size: 20px;
	}

p.indextitle {
	text-align: left;
	font-size: 250%;
	}

table.title {
	color: #000000;
	background-color: #f5f5ff;
	border: 1px outset #000000;
	}

img {
	border: 0;
	}

img.caption {
	border: 0;
	text-align: center;
	}

code {
	color: #000000;
	font: 1.1em 'Courier New', Courier, Fixed;
	margin-left: .3em;
	margin-right: .3em;
	}

pre {
	color: #000000;
	background: #eeeeee;
	border: 1px outset #000000;
	padding: 3px;
}

a:hover {
	color: #147;
	text-decoration: none;
	}

a {
	color: #147;
	text-decoration: none;
	}

td.title {
	color: #000000;
	font-weight: bold;
	}

nav.buttons {
  width: 100%;
  display: block;
}
  nav.buttons a {
    outline: none;
    display: inline-block;
    padding: 140px 4px 10px 4px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 96px; 
    margin: 0;
    text-align: center;
    transition: background-size 200ms ease;
  }
  
  nav.buttons a:hover {
    background-size: 115px;
  }
  
    #users { background-image: url('img/nav-users.svg');  }
    #devs { background-image: url('img/nav-devs.svg'); }
    #hw { background-image: url('img/nav-hw.svg'); }

input.submit {
  display: block;
  margin: 0 auto;
  outline: none;
  margin-top: 1em;
  border-width: 1px;
  border-radius: 5px;
  border-image: linear-gradient(to bottom, #1e5894, #033266);
	padding: 10px;
	font-weight: bold;
	background-image: linear-gradient(to bottom, #3e78b4, #235296);
	color: white;
	width: 60%;
}
