#!/usr/bin/make -f
# -*- makefile -*-

PACKAGE_NAME  := fwupd
SIG_PKG_NAME  := fwupd-SIGNARCH-signed
SIGNATURE_DIR := debian/signatures/$(PACKAGE_NAME)
BINARY        := $(shell find /usr/libexec/fwupd/efi -name '*.efi' | xargs basename)

%:
	dh $@

override_dh_auto_build:
	cp /usr/libexec/fwupd/efi/$(BINARY) .
	sbattach --attach $(SIGNATURE_DIR)/usr/libexec/fwupd/efi/$(BINARY).sig $(BINARY)
	mv $(BINARY) $(BINARY).signed
