Source: fwupd
Priority: optional
Maintainer: Debian EFI <debian-efi@lists.debian.org>
Uploaders: Steve McIntyre <93sam@debian.org>,
           Daniel Jared Dominguez <jared.dominguez@dell.com>,
           Matthias Klumpp <mak@debian.org>,
           Mario Limonciello <mario.limonciello@dell.com>
Build-Depends: debhelper (>= 9.0.0),
               meson,
               docbook-utils,
               gettext (>= 0.19.8.1),
               intltool,
               libappstream-glib-dev (>= 0.6.13),
               libarchive-dev,
               libcolord-dev (>= 1.0.0),
               libefivar-dev [amd64 arm64 armhf armel i386],
               libfwup-dev [amd64 arm64 armhf i386],
               libgcab-dev,
               gcab,
               libgirepository1.0-dev,
               libglib2.0-dev (>= 2.45.8),
               gir1.2-appstreamglib-1.0,
               libgpgme11-dev,
               libtool-bin,
               libgudev-1.0-dev,
               udev,
               systemd (>= 231),
               libgusb-dev (>= 0.2.9),
               libpolkit-gobject-1-dev,
               policykit-1 (>> 0.105-17),
               libsqlite3-dev,
               pkg-config,
               libsoup2.4-dev,
               gtk-doc-tools,
               libcolorhug-dev,
               gobject-introspection,
               libsmbios-dev [amd64 i386],
               libelf-dev,
#disabled until ITP 855065 is done
#              libtbtfwu-dev,
               valgrind[!mips !sparc64 !sh4 !ppc64 !powerpcspe !hppa !alpha !mips64el !armhf !armel !mipsel !m68k]
Standards-Version: 3.9.8
Section: admin
Homepage: https://github.com/hughsie/fwupd
Vcs-Git: https://anonscm.debian.org/git/uefi/fwupd.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=uefi/fwupd.git

Package: libfwupd1
Architecture: linux-any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Multi-Arch: same
Description: Firmware update daemon library
 fwupd is a daemon to allow session software to update device firmware.
 You can either use a GUI software manager like GNOME Software to view and
 apply updates, the command-line tool or the system D-Bus interface directly.
 Currently, firmware updates using the UEFI capsule format and for the
 ColorHug are supported. More formats may be supported in the future.
 See <https://github.com/hughsie/fwupd> for details
 .
 This package provides the library used by the daemon.

Package: libdfu1
Architecture: linux-any
Depends: ${misc:Depends},
         ${gir:Depends},
         ${shlibs:Depends}
Multi-Arch: same
Description: Firmware update daemon library for DFU support
 fwupd is a daemon to allow session software to update device firmware.
 You can either use a GUI software manager like GNOME Software to view and
 apply updates, the command-line tool or the system D-Bus interface directly.
 Currently, firmware updates using the UEFI capsule format and for the
 ColorHug are supported. More formats may be supported in the future.
 See <https://github.com/hughsie/fwupd> for details
 .
 This package provides the library used by the daemon for DFU support.

Package: libebitdo1
Architecture: linux-any
Depends: ${misc:Depends}
Multi-Arch: same
Priority: extra
Section: oldlibs
Description: Firmware update daemon library for 0bitdo support (transitional package)
 This is a transitional package for 0bitdo support that was moved into a plugin.

Package: fwupd
Architecture: linux-any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: fwupdate
Multi-Arch: foreign
Description: Firmware update daemon
 fwupd is a daemon to allow session software to update device firmware.
 You can either use a GUI software manager like GNOME Software to view and
 apply updates, the command-line tool or the system D-Bus interface directly.
 Currently, firmware updates using the UEFI capsule format and for the
 ColorHug are supported. More formats may be supported in the future.
 See <https://github.com/hughsie/fwupd> for details

Package: fwupd-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Firmware update daemon documentation (HTML format)
 fwupd is a daemon to allow session software to update device firmware.
 You can either use a GUI software manager like GNOME Software to view and
 apply updates, the command-line tool or the system D-Bus interface directly.
 Currently, firmware updates using the UEFI capsule format and for the
 ColorHug are supported. More formats may be supported in the future.
 See <https://github.com/hughsie/fwupd> for details
 .
 This package provides development documentation for creating a package that
 uses fwupd.

Package: libfwupd-dev
Architecture: linux-any
Multi-Arch: same
Depends: libfwupd1 (= ${binary:Version}),
         gir1.2-fwupd-1.0 (= ${binary:Version}),
         ${misc:Depends}
Breaks: fwupd-dev (<< 0.5.4-2~)
Replaces: fwupd-dev (<< 0.5.4-2~)
Section: libdevel
Description: development files for libfwupd
 fwupd is a daemon to allow session software to update device firmware.
 You can either use a GUI software manager like GNOME Software to view and
 apply updates, the command-line tool or the system D-Bus interface directly.
 Currently, firmware updates using the UEFI capsule format and for the
 ColorHug are supported. More formats may be supported in the future.
 See <https://github.com/hughsie/fwupd> for details
 .
 This package provides the development files for libfwupd

Package: gir1.2-fwupd-1.0
Architecture: linux-any
Multi-Arch: same
Depends: ${misc:Depends},
         ${gir:Depends}
Breaks: libfwupd1 (<< 0.7.2-1~)
Replaces: libfwupd1 (<< 0.7.2-1~)
Section: introspection
Description: GObject introspection data for libfwupd
 This package provides the introspection data for libfwupd.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.

Package: libdfu-dev
Architecture: linux-any
Multi-Arch: same
Depends: libdfu1 (= ${binary:Version}),
         ${misc:Depends}
Section: libdevel
Description: development files for libdfu
 fwupd is a daemon to allow session software to update device firmware.
 You can either use a GUI software manager like GNOME Software to view and
 apply updates, the command-line tool or the system D-Bus interface directly.
 Currently, firmware updates using the UEFI capsule format and for the
 ColorHug are supported. More formats may be supported in the future.
 See <https://github.com/hughsie/fwupd> for details
 .
 This package provides the development files for libdfu

Package: libebitdo-dev
Architecture: linux-any
Multi-Arch: same
Depends: ${misc:Depends}
Priority: extra
Section: oldlibs
Description: development files for libebitdo (transitional package)
 This is a transitional package for 0bitdo support that was moved into a plugin.
