name: Create containers
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [fedora, debian-x86_64, arch, debian-i386, void]

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: "Generate Dockerfile"
        env:
          OS: ${{ matrix.os }}
        run: ./contrib/ci/generate_docker.py
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: fwupd/fwupd/fwupd-${{matrix.os}}
          tags: latest
