on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [fedora, debian-x86_64, arch, debian-i386]
    steps:
      - uses: actions/checkout@v3
      - name: Docker login
        run: docker login docker.pkg.github.com -u $GITHUB_ACTOR -p $GITHUB_TOKEN
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Build in container
        env:
          CI_NETWORK: true
          CI: true
        run: |
          echo $GITHUB_WORKSPACE
          docker run --privileged -e CI=true -t -v $GITHUB_WORKSPACE:/github/workspace docker.pkg.github.com/fwupd/fwupd/fwupd-${{matrix.os}}:latest

  openbmc:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Refresh dependencies
        run: sudo apt update
      - name: Install dependencies
        run: |
          sudo ./contrib/ci/fwupd_setup_helpers.py install-dependencies -o ubuntu --yes
          python3 -m pip install --user "meson >= 0.60.0"
      - name: Build
        run: |
          ./contrib/build-openbmc.sh --prefix=/home/runner/.root

  macos:
    runs-on: macos-12
    steps:
    - name: install dependencies
      run: |
        brew install meson gcab libgusb gobject-introspection sqlite libarchive json-glib curl gnutls protobuf-c vala gi-docgen
        python3 -m pip install --user jinja2
    - uses: actions/checkout@v3
    - name: configure
      run: ./contrib/ci/build_macos.sh
    - name: build
      run: ninja -C build-macos
