name: Snap workflow
on:
  workflow_call:
    inputs:
      deploy:
        required: true
        type: boolean

permissions:
  contents: read

jobs:
  build-snap:
    runs-on: ubuntu-latest
    outputs:
      snap_name: ${{ steps.snapcraft.outputs.snap }}
      channel: ${{ steps.channel.outputs.channel }}
    steps:
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      with:
        fetch-depth: 0
    - id: channel
      run: |
        if git describe --exact-match; then
          echo "channel=candidate" >> $GITHUB_OUTPUT
        else
          echo "channel=edge" >> $GITHUB_OUTPUT
        fi
    - id: prep
      run: |
        mkdir -p snap
        ln -s ../contrib/snap/snapcraft.yaml snap/snapcraft.yaml
    - uses: snapcore/action-build@2096990827aa966f773676c8a53793c723b6b40f # v1.2.0
      id: snapcraft
    - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
      with:
        name: snap
        path: ${{ steps.snapcraft.outputs.snap }}

  test-snap:
    needs: build-snap
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@9c19ed7fe5d278cd354c7dfd5d3b88589c7e2395 # v4.1.6
      id: download
      with:
        name: snap
    - id: install-snap
      run: |
        sudo snap install --dangerous ${{ needs.build-snap.outputs.snap_name }}
        sudo snap connect fwupd:polkit :polkit
        sudo fwupd.fwupdtool enable-test-devices
    - name: Run fwupdmgr tests
      run: sudo /snap/fwupd/current/share/installed-tests/fwupd/fwupdmgr.sh
    - name: Run fwupd tests
      run: sudo /snap/fwupd/current/share/installed-tests/fwupd/fwupd.sh
    - name: Run fwupdtool tests
      run: sudo /snap/fwupd/current/share/installed-tests/fwupd/fwupdtool.sh

  deploy-store:
    needs: [build-snap, test-snap]
    runs-on: ubuntu-latest
    if: ${{ inputs.deploy }}
    steps:
    - uses: actions/download-artifact@9c19ed7fe5d278cd354c7dfd5d3b88589c7e2395 # v4.1.6
      id: download
      with:
        name: snap
    - uses: snapcore/action-publish@214b86e5ca036ead1668c79afb81e550e6c54d40 # v1.2.0
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.STORE_LOGIN }}
      with:
        snap: ${{ needs.build-snap.outputs.snap_name }}
        release: ${{ needs.build-snap.outputs.channel }}
