name: Snap workflow
on:
  workflow_call:
    inputs:
      deploy:
        required: true
        type: boolean

jobs:
  build-snap:
    runs-on: ubuntu-latest
    outputs:
      snap_name: ${{ steps.snapcraft.outputs.snap }}
      channel: ${{ steps.channel.outputs.channel }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - id: channel
      run: |
        if git describe --exact-match; then
          echo "::set-output name=channel::1.9.x/candidate"
        else
          echo "::set-output name=channel::1.9.x/edge"
        fi
    - id: prep
      run: |
        mkdir -p snap
        ln -s ../contrib/snap/snapcraft.yaml snap/snapcraft.yaml
    - uses: snapcore/action-build@v1
      id: snapcraft
    - uses: actions/upload-artifact@v4
      with:
        name: snap
        path: ${{ steps.snapcraft.outputs.snap }}

  test-snap:
    needs: build-snap
    runs-on: ubuntu-latest
    steps:
    - id: checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/download-artifact@v4
      id: download
      with:
        name: snap
    - id: install-snap
      run: |
        sudo apt remove fwupd -y
        sudo snap install --dangerous ${{ needs.build-snap.outputs.snap_name }}
        sudo snap connect fwupd:polkit :polkit
        sudo fwupd.fwupdtool enable-test-devices
    - name: Run fwupdmgr tests
      run: sudo /snap/fwupd/current/share/installed-tests/fwupd/fwupdmgr.sh
    - name: Run fwupd tests
      run: sudo /snap/fwupd/current/share/installed-tests/fwupd/fwupd.sh
    - name: Run fwupdtool tests
      run: sudo /snap/fwupd/current/share/installed-tests/fwupd/fwupdtool.sh

  deploy-store:
    needs: [build-snap, test-snap]
    runs-on: ubuntu-latest
    if: ${{ inputs.deploy }}
    steps:
    - uses: actions/download-artifact@v4
      id: download
      with:
        name: snap
    - uses: snapcore/action-publish@v1
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.STORE_LOGIN }}
      with:
        snap: ${{ needs.build-snap.outputs.snap_name }}
        release: ${{ needs.build-snap.outputs.channel }}
