name: Snap workflow
on:
  workflow_call:
    inputs:
      deploy:
        required: true
        type: boolean

permissions:
  contents: read

jobs:
  build-snap:
    runs-on: ubuntu-latest
    outputs:
      snap_name: ${{ steps.snapcraft.outputs.snap }}
      channel: ${{ steps.channel.outputs.channel }}
    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      with:
        fetch-depth: 0
    - id: channel
      run: |
        if git describe --exact-match; then
          echo "channel=candidate" >> $GITHUB_OUTPUT
        else
          echo "channel=edge" >> $GITHUB_OUTPUT
        fi
    - id: prep
      run: |
        mkdir -p snap
        ln -s ../contrib/snap/snapcraft.yaml snap/snapcraft.yaml
    - uses: snapcore/action-build@3bdaa03e1ba6bf59a65f84a751d943d549a54e79 # v1.3.0
      id: snapcraft
    - uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
      with:
        name: snap
        path: ${{ steps.snapcraft.outputs.snap }}

  test-snap:
    needs: build-snap
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      id: download
      with:
        name: snap
    - id: install-snap
      run: |
        sudo snap install --dangerous ${{ needs.build-snap.outputs.snap_name }}
        sudo snap connect fwupd:polkit :polkit
        sudo fwupd.fwupdtool enable-test-devices
    - name: Run fwupdmgr tests
      run: sudo /snap/fwupd/current/share/installed-tests/fwupd/fwupdmgr.sh
    - name: Run fwupd tests
      run: sudo /snap/fwupd/current/share/installed-tests/fwupd/fwupd.sh
    - name: Run fwupdtool tests
      run: sudo /snap/fwupd/current/share/installed-tests/fwupd/fwupdtool.sh

  deploy-store:
    needs: [build-snap, test-snap]
    runs-on: ubuntu-latest
    if: ${{ inputs.deploy }}
    steps:
    - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      id: download
      with:
        name: snap
    - uses: snapcore/action-publish@214b86e5ca036ead1668c79afb81e550e6c54d40 # v1.2.0
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.STORE_LOGIN }}
      with:
        snap: ${{ needs.build-snap.outputs.snap_name }}
        release: ${{ needs.build-snap.outputs.channel }}
